@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  background-color: white;
  color: black;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

.dropzone {
  border: 2px dashed rgba(127, 127, 127, .5);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
}

.toolbar {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.badge {
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 12px;
}

.badge.ok {
  background: #e6ffed;
  color: #03670b;
}

.badge.err {
  background: #ffebea;
  color: #8a1313;
}

/* Custom Scrollbar Styles */
.MuiDataGrid-root *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


.MuiDataGrid-root *::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.MuiDataGrid-root *::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.MuiDataGrid-root *::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Specific styling for the virtual scroller and column headers */
.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 8px;
  /* For vertical scrollbar */
  height: 8px;
  /* For horizontal scrollbar */
}

.MuiDataGrid-columnHeaders::-webkit-scrollbar {
  height: 8px;
  /* For horizontal scrollbar in headers */
}